body
{
    background-color: aqua;
}
.main-secation
{
    width: 100%;
    height: 250px;
    
}
.header
{
    width: 93%;
    height: 80px;
    background-color: white;
    margin-left: 4%;
    
}
.fa-mobile-phone,.fa-mail
{
    width: auto;
    height: auto;
    padding: 4px;
    margin-left: 2%;
}
#number
{
    color: red;
    margin-left: 20%;
    margin-top: 20%;
}
#email
{
    color: rgba(149, 212,223) 
    
}
.content
{
    width: 93%;
    height: 500px;
    margin-left: 4%;
    margin-top: 4%;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.googlemap iframe 
{
    width: 80%;
    height: 150px;
    margin-top: 2%;
    float: left;
    margin-left: 5%;
    
}
table
{
    border-spacing: 1px;
    font-size: 20px;


}
.book 
{
    float: left;
}
.button
{
    background-color: red;
    color: white;
    
}
.map
{
    font-size: 15px;
    color: red;
    margin-left: 80%;
}

