body
{
    background-color: aqua;
}

.main{
    width: 90%;
    height: auto;
    margin: auto;
}

.main-secation
{
    width: 100%;
    height: 250px;
    
}
.header
{
    width: 93%;
    height: 80px;
    background-color: white;
    margin-left: 4%;
    
}
.fa-mobile-phone,.fa-mail
{
    width: auto;
    height: auto;
    padding: 4px;
    margin-left: 2%;
}
#number
{
    color: red;
    
    margin-top: 20%;
}
#email
{
    color: rgba(149, 212,223) 
    
}
.fa-solid 
{
    color: red;
    margin-left: 20%;
}
.content
{
    width: 93%;
    height: 500px;
    margin-left: 4%;
    margin-top: 2%;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.google-map,iframe 
{
    max-width: 100%;
    height: 350px;
    margin: auto;
    margin-top: 2%;
    margin-left: 10% !important;
    float: left;
    
    
}
table
{
    border-spacing: 1px;
    font-size: 20px;


}
.book 
{
    float: left;
}
.button
{
    background-color: red;
    color: white;
    
}
#i
{
    font-size: 15px;
    color: red;
    margin-left: 80%;
}

.fa-square-facebook
{
    color: blue;
    font-size: 25px;
    padding: 5px;
    margin-top: 3%;
    margin-left: 18%;
}
.fa-square-twitter
{
    color:rgba(57, 215, 226) ;
    font-size: 25px;
    padding: 3px;
}
.fa-linkedin
{
    color: #2fb5a8;
    font-size:25px;
    padding: 3px;
}
.fa-square-github
{
    color: black;
    font-size: 25px;
    padding: 3px;
}