body {
    height: 100vh;
}

.container {
    width: 96%;
    height: 600px;
    background-color: #f7efef;
    min-width: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.image-container {
    position: relative;
    width: 100%;
}

image {
    position: relative;
    width: 100%;
    display: none;
}

.active {
    display: block;
}

.dot-container {
    width: 150%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    outline: none;
    cursor: pointer;
}

.dot-container button {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 3px solid rgb(41, 1, 78);
}