body 
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.header 
{
    width: 80%;
    height: auto;
    margin: auto;
    padding: 12px;
    background-color: black;
    color: white;
    margin-top: 2%;
}
.header b
{
    color:white;
    letter-spacing: 2px;
    margin-left: 2%;
}
.section
{
    margin: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.banner{
    width: 40%;
    height: 300px;
    margin-left: 9%;
    /* margin-top: 2%; */
    display: flex;
}
.banner video
{
    width: 80%;
    height: 300px;
}
.descriptions
{
width: 60%;
height: 300px;
margin-top: 2%;
}
.row
{
    border-bottom: solid 1px gray !important;
}
.fa
{
    font-size: 16px !important;
    letter-spacing: 2px;
    transition: 1s ease all; 
}
.fa:hover 
{
    transform: rotate(360deg); 
    font-size: 22px !important;
    color: red;

}